.advantages {
  border: 1px solid #ffffff;
  min-height: 569px;
}

.adv-title {
  display: flex;
  justify-content: center;
}

h2.title {
  position: relative;
  display: inline-block;
  font-size: 40px;
  font-weight: 500;
  color: #383838;
  margin-top: 120px;
}

h2.title::after {
  content: "";
  position: absolute;
  background: #f5bd41;
  left: 5%;
  bottom: -20px;
  width: 90%;
  height: 4px;
}

.blocks {
  margin-top: 84px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  flex-wrap: wrap;
}

.block {
  height: 176px;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.text-advantages {
  font-size: 24px;
  color: #383838;
}

.icon {
  width: 100px;
  height: 100px;
  margin-bottom: 48px;
}

@media only screen and (min-width: 600px) and (max-width: 800px) {
  .blocks {
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    flex-wrap: nowrap;
  }

  .block {
    margin-bottom: 40px;
  }

  .icon {
    margin-bottom: 30px;
  }
}

@media screen and (max-width: 600px) {
  .advantages.container {
    padding-left: 0;
    padding-right: 0;
  }

  .advantages {
    margin: 0;
    width: 100vw;
    height: 641px;
    border: 0;
  }

  h2.title {
    font-size: 28px;
    margin: 24px 73px 0;
  }

  .blocks {
    margin-top: 0;
    display: flex;
    align-items: center;
    flex-direction: column;
  }

  .block {
    width: 214px;
    height: 104px;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 32px;
    margin-bottom: 0;
  }

  .icon {
    width: 70px;
    height: 70px;
    margin: 0;
  }

  .text-advantages {
    font-size: 18px;
    margin-top: 16px;
  }
}
