.homes {
  background-color: #eaf0f9;
  padding-top: 120px;
  padding-bottom: 121px;
}

.homes-title-center {
  display: flex;
  justify-content: center;
}

h2.homes-title {
  position: relative;
  display: inline-block;
  margin-bottom: 105px;
  font-weight: 500;
  font-size: 40px;
}

h2.homes-title::after {
  content: "";
  position: absolute;
  background: #f5bd41;
  left: 5%;
  bottom: -20px;
  width: 90%;
  height: 4px;
}

.pictures {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}

.picture {
  height: 435px;
  display: flex;
  flex-direction: column;
}

.apartment-photo {
  max-width: 295px;
}

.hotel-name {
  color: #3077c6;
  font-size: 24px;
  margin: 24px 0;
}

.hotel-location {
  color: #bfbfbf;
  font-size: 24px;
}

.right {
  position: relative;
}

.slider {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  position: absolute;
  left: 90%;
  top: 30%;
}

.mini-slider {
  display: none;
}

@media only screen and (min-width: 800px) and (max-width: 1400px) {
  .homes {
    padding-bottom: 20px;
  }

  .picture {
    margin-bottom: 30px;
  }
}

@media only screen and (min-width: 500px) and (max-width: 800px) {
  .homes {
    padding-top: 50px;
    padding-bottom: 20px;
  }

  .pictures {
    flex-wrap: wrap;
    justify-content: space-around;

  }

  .picture {
    margin-bottom: 30px;
  }
}

@media only screen and (max-width: 500px) {
  .homes {
    padding-top: 17px;
    padding-bottom: 40px;
    margin-bottom: 0;
  }

  h2.homes-title {
    font-size: 28px;
    margin-bottom: 32px;
  }

  .hotel-name {
    font-size: 12px;
    margin: 8px 0 4px;
  }

  .hotel-location {
    font-size: 12px;
  }

  div.pictures {
    margin-top: 5px;
  }

  .pictures {
    flex-wrap: nowrap;
    justify-content: space-around;
  }

  .picture {
    height: 209px;
  }

  .no-photo {
    display: none;
  }

  .mini-picture {
    width: 156px;
    height: 156px;
  }

  .mini-slider {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 28px;
    height: 28px;
    position: absolute;
    left: 92%;
    top: 30%;
  }
}
